# =====================
# Data
# =====================
data/raw/
data/*.zip
data/dataset/

# =====================
# Outputs / Experiments
# =====================
outputs/
!outputs/.gitkeep

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
.env
.venv
venv/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
